# Introduction to Python
---

[Python](https://www.python.org) is one of many high-level programming languages that has grown in popularity for its easy implementation for prototyping new code and community-driven and open-source culture. It is relaxed in its syntax (which can be a curse sometime to be fair) and is sometimes referred to as executable pseudo-code since it reads like plain English. It has become very popular amongst non-traditional computer scientists for these reasons and is the more preferred language for data science and machine learning projects.

It will be impractical to to attempt to cover all the basics of the Python language as it can very easily turn into a class of itself. Instead, this tutorial will provides a brief and high-level introduction to Python but detailed enough for the purposes of a first-time coder in this class. In this tutorial, you will learn:

1. about variables and different native data types in Python language;
3. to write loops and define their termination point;
4. to define conditional statements that drive code execution; 
5. execute math operations; and
5. learn the syntax used to define functions.
7. Basic I/O

## Variables
Think of variables as empty buckets (variable name) that are used to store content (variable value) that need to be accessed multiple times during their lifetime. As the name suggests, the value of the variable can change. To define a variable an assign a value, the name is set equal to some value:

In [1]:
indoor_dry_bulb_temperature = 24

Above, we have defined a variable named `indoor_dry_bulb_temperature` and assigned it the value 24. We can change the value to something else:

In [2]:
indoor_dry_bulb_temperature = 26

Now, let print to the console, the current value of `indoor_dry_bulb_temperature`. Printing variable values is a simple but very effective way of debugging your code (read finding out why your code is not working as expected) since you typically have some idea of what the values of the variables in your code should be at any given time and can check the actual value against your groundtruth. To print variables, we use the in-built `print` function:

In [3]:
print(indoor_dry_bulb_temperature)

26

We see that the value of `indoor_dry_bulb_temperature` is the second value assignment we carried out.

Sometimes, we want to define a 'variable' whose value should never change during its lifetime. These kind of variable is called a 'constant'. Python however by default, does not have support for constant values i.e. all variables are allowed to change values during their lifetime. Instead, we _soft define_ constants in Python by the way we write the variable name. In practice, the constant's value can change and WILL CHANGE if a new value is assigned however, its name can be indicative to you writing the code or other users that it's best not set the value once and never change it.

In the variable we defined earlier, we wrote its name in lowercase characters. We also separated words using underscores. This style of variable naming convention is known as [snake case](https://en.wikipedia.org/wiki/Snake_case). Constants, follow the snake case convention but all characters are written in uppercase, for example:

In [4]:
AUSTIN_LATITUDE = 30.2672

We have used the constant named `AUSTIN_LATITUDE` to define the latitude of Austin, Texas. Unless the state of Texas gets remapped, Austin's latitude will not be changing anytime soon hence, is a constant. However, since Python has no real constants, we can change the value of `AUSTIN_LATITUDE` but we shouldn't for the sake of staying true to our naming convention ðŸ™‚.

Note that it is good practice to be as explicit as possible when naming variables. Your variable names should be obvious, self-documenting and exclude abbreviations as much as possible. For example, a variable that defines the dry-bulb temperature of a building is better defined as `indoor_dry_bulb_temperature`. One might be tempted to name it as just `dry_bulb_temperature` for brevity which might be confused with the weather's dry-bulb temperature. Also, `temperature` might be ambiguous since there are other relevant temperature variables within a building such wet-bulb temperature, operative temperature, e.t.c. `temp` might be obvious to someone reading your code that is familiar with its context but is also often used as a lazy name to define [temp]orary variables.

In the next cell, define a variable that stores the boiling point temperature value of pure water in degrees Celcius (is this a variable that can change or is constant?):

In [5]:
# *** define your variable below ****

The above code and text cover conclude the tutorial on variables in Python for the purpose of this class. The next section introduces the different data types that can be stored in variables.

## Data types

A bucket may hold water but can also be used to store sand, cleaning supplies, e.t.c. The same reasoning applies to variables in Python. Our earlier defined variable `indoor_dry_bulb_temperature` was used to store a number. Similarly, our constant `AUSTIN_LATITUDE` stores a number with 4 decimal places. Python has an in-built function, `type` that can be used to return the data type of any variable. Let us print out the data types of `indoor_dry_bulb_temperature` and `AUSTIN_LATITUDE`:

In [6]:
print('indoor_dry_bulb_temperature type:', type(indoor_dry_bulb_temperature))
print('AUSTIN_LATITUDE:', type(AUSTIN_LATITUDE))

indoor_dry_bulb_temperature type: <class 'int'>
AUSTIN_LATITUDE: <class 'float'>

Asides the `int` and `float` types, there are 13 other in-built data types in Python classified under 8 categories:

1. Text:
    - `str`<sup>*</sup>
2. Numeric:	
    - `int`<sup>*</sup>
    - `float`<sup>*</sup>
    - `complex`
3. Sequence:
    - `list`<sup>*</sup>
    - `tuple`<sup>*</sup>
    - `range`<sup>*</sup>
6. Boolean Type:
    - `bool`<sup>*</sup>
4. Mapping Type:
    - `dict`<sup>*</sup>
5. Set Types:
    - `set`<sup>*</sup>
    - `frozenset`
7. Binary Types:
    - `bytes`
    - `bytearray`
    - `memoryview`
8. None:
    - `NoneType`<sup>*</sup>

However, we will only discuss 10 of these types, identified by the asterisk superscript next to their name as they are what we will be typically used in our exercises.

### Text types

The `str` type is used to store a sequence of alphanumeric characters as well as whitespace characters a.k.a. strings and its value is wrapped around either single quotes or double quotes. The choice of quote style is dependent on personal preference. Names and unique alphanumeric IDs are usually defined as strings. Let us define a name below:

In [7]:
occupant_first_name = 'Reilly'

We can also define a string that has a quotation mark within the string as:

In [8]:
occupant_first_name = 'O\'Reilly'
print(occupant_first_name)

O'Reilly

In [9]:
occupant_first_name = "O'Reilly"
print(occupant_first_name)

O'Reilly

The `str` type has a number of convenience functions (a.k.a. methods) that allows one carry inquire about a `str` variables value. Some of the favorites are `len` to inquire about the number of characters in a string, `lower` to convert the string to lowercase, `upper` to convert the string to uppercase, `replace` to replace a character in the string with another character, `strip` used to remove leading and trailing whitespace by default or any specified character, `startswith` to assert if the string starts with a sequence of characters, `endswith` to assert if the string ends with a sequence of characters, `split` to break a string into a list of characters where the splitting happens at each occurrence of specified characters, and `join` used as a conjunction when convert a list of strings to a single string. Example usages of these `str` methods are shown below:

In [10]:
print('str length:', len(occupant_first_name))
print('str in lowercase:', occupant_first_name.lower())
print('str in uppercase:', occupant_first_name.upper())
print('str replacement:', occupant_first_name.replace('Reilly', 'Brien'))
print('str strip:', occupant_first_name.strip('O\''))
print('str startswith check:', occupant_first_name.startswith('O'))
print('str endswith check:', occupant_first_name.endswith('n'))
print('str split into list of strings:', occupant_first_name.split('\''))

str length: 8
str in lowercase: o'reilly
str in uppercase: O'REILLY
str replacement: O'Brien
str strip: Reilly
str startswith check: True
str endswith check: False
str split into list of strings: ['O', 'Reilly']

We can retrieve a substring of the full string using string indices. Note that Python, like many other languages, starts indexing from 0 such that if we wanted to retrieve the first character, we will use index 0 and if we wanted to retrieve the third character, we will use index 2. If we want to retrieve the first to third characters, we will use the index of the first character up to the index of the last character plus one. See the examples below:

In [11]:
print('First character:', occupant_first_name[0])
print('Third character:', occupant_first_name[2])
print('First to third characters:', occupant_first_name[0:3])

First character: O
Third character: R
First to third characters: O'R

### Numeric types

The numeric data types we learn about are `int` for storing integer variables and `float` for storing real numbers. We already defined one of each earlier in the `Variable` section where `indoor_dry_bulb_temperature` is an integer and the constant `AUSTIN_LATITUDE` is a float type. There are no `int` nor `float` type methods that need to be discussed but will mention that `float` type has an accuracy of up to 15 decimal places. This means that you cannot store a real number that has more than 17 decimal place precision:

In [12]:
A_CONSTANT_WITH_MORE_THAN_20_DECIMAL_PLACES = 0.01234567890123456789
print(A_CONSTANT_WITH_MORE_THAN_20_DECIMAL_PLACES)

0.012345678901234568

Although the constant `A_CONSTANT_WITH_MORE_THAN_20_DECIMAL_PLACES` has 20 decimal places by definition, it prints only up to 17 decimal places.

### Sequence types

Sequence types for our purposes refer to `list`, `tuple` and `range` types. A `list` is an ordered sequence of variables and different data types can be stored in one list. This is a powerful feature of lists in Python compared to their counterparts in other programming languages that allow only one data type to be stored in their list equivalents. Although, it is good practice to make one-data-type lists. The syntax to define a `list` is:

In [13]:
indoor_dry_bulb_temperature_setpoint_schedule = [20, 21, 22, 24, indoor_dry_bulb_temperature]
print(indoor_dry_bulb_temperature_setpoint_schedule)

[20, 21, 22, 24, 26]

Above, we have defined a list that stores the previous 4 indoor dry-bulb temperature values as well as the current value. To retrieve any element in the list, we use the element's index like we did with `str` type:

In [14]:
print('First element in list:', indoor_dry_bulb_temperature_setpoint_schedule[0])
print('Third element in list:', indoor_dry_bulb_temperature_setpoint_schedule[2])

First element in list: 20
Third element in list: 22

To retrieve the last element in a list, we use a negative index 1:

In [15]:
print('Last element in list:', indoor_dry_bulb_temperature_setpoint_schedule[-1])

Last element in list: 26

A slice of the list can be retrieved in the same way we retrieve substrings in `str` type:

In [16]:
print('Second to fourth elements in list:', indoor_dry_bulb_temperature_setpoint_schedule[1:4])

Second to fourth elements in list: [21, 22, 24]

Lists are mutable types, i.e., the elements of a list variable can change after assignment. We can also use the index to reassign values in a list:

In [17]:
indoor_dry_bulb_temperature_setpoint_schedule[0] = 18
print('First element in list:', indoor_dry_bulb_temperature_setpoint_schedule[0])

First element in list: 18

We can also use the `insert` method to put in a new element that increases the length of the list:

In [18]:
indoor_dry_bulb_temperature_setpoint_schedule.insert(1, 16)
print('List with inserted value at first index:', indoor_dry_bulb_temperature_setpoint_schedule)

List with inserted value at first index: [18, 16, 21, 22, 24, 26]

Then to get the new length of the list, we use the `len` function as used with the `str` type:

In [19]:
print('Number of elements in list:', len(indoor_dry_bulb_temperature_setpoint_schedule))

Number of elements in list: 6

If we know that an element in a list has a particular value but for whatever reason need to know what position in the list that element is at, i.e. its index, we can use the `index` function:

In [20]:
('Index for element with value = 26:', indoor_dry_bulb_temperature_setpoint_schedule.index(26))

('Index for element with value = 26:', 5)

Other `list` functions worthy of note are `append` to add a new element to a list, `extend` to add a sequence of new elements to a list, `pop` to remove and return an element from a list at a specific index, `remove` which is similar to `pop` but removes with reference to the value instead of index, `reverse` to reverse the order of elements in a list, `sort` to order the elements in a list, and `count` to get the number of occurrences of a value. See examples below:

In [21]:
indoor_dry_bulb_temperature_setpoint_schedule.append(29)
print('List with appended element:', indoor_dry_bulb_temperature_setpoint_schedule)

indoor_dry_bulb_temperature_setpoint_schedule.extend([30, 32, 33])
print('List with extended elements:', indoor_dry_bulb_temperature_setpoint_schedule)

pop_element = indoor_dry_bulb_temperature_setpoint_schedule.pop(0)
print('List with 0th element removed:', indoor_dry_bulb_temperature_setpoint_schedule, 'where the 0th element was:', pop_element)

indoor_dry_bulb_temperature_setpoint_schedule.remove(24)
print('List with element whose value = 24 removed:', indoor_dry_bulb_temperature_setpoint_schedule)

indoor_dry_bulb_temperature_setpoint_schedule.reverse()
print('List in reverse order:', indoor_dry_bulb_temperature_setpoint_schedule)

indoor_dry_bulb_temperature_setpoint_schedule.sort()
print('List sorted in ascending order:', indoor_dry_bulb_temperature_setpoint_schedule)

indoor_dry_bulb_temperature_setpoint_schedule.sort(reverse=True)
print('List sorted in descending order:', indoor_dry_bulb_temperature_setpoint_schedule)

print('Number of elements in list with value = 30:', indoor_dry_bulb_temperature_setpoint_schedule.count(30))

List with appended element: [18, 16, 21, 22, 24, 26, 29]
List with extended elements: [18, 16, 21, 22, 24, 26, 29, 30, 32, 33]
List with 0th element removed: [16, 21, 22, 24, 26, 29, 30, 32, 33] where the 0th element was: 18
List with element whose value = 24 removed: [16, 21, 22, 26, 29, 30, 32, 33]
List in reverse order: [33, 32, 30, 29, 26, 22, 21, 16]
List sorted in ascending order: [16, 21, 22, 26, 29, 30, 32, 33]
List sorted in descending order: [33, 32, 30, 29, 26, 22, 21, 16]
Number of elements in list with value = 30: 1

Next, we will discuss the `tuple` type. Like the `list`, it holds a sequence of multi-type values but is defined using a slightly different syntax (can you spot the difference?):

In [22]:
indoor_dry_bulb_temperature_history = (24.4, 24.0, 23.5, 22.1, 21.3, 24.3, 25.5)

Like lists, we can use index to retrieve elements or sequence of elements in tuples. However, tuples are immutable and as such, their elements cannot change after initialization (initialization is when a variable is declared for the first time and assigned some value):

In [23]:
indoor_dry_bulb_temperature_history[0] = 22.5

TypeError: 'tuple' object does not support item assignment

The `TypeError` thrown above when we try to reassign the 0th element a new value tells us that the `tuple` type does not support such operation. This distinction between lists and tuples is very important when defining your data structures to hold variables as you build you Python code. Choosing one or the other can have rewarding or hair-pulling effects down the line. Let us take for example code that is meant to store the indoor dry-bulb temperature of a building from 3 years back. Data from 3 years ago is final and ideally, should not change as you work with it. In this case, a tuple seems better suited for its storage. However, you might want to do some data cleaning like replacing outliers with some average value. Using the same tuple variable, you will not be able to replace values unless you define a new tuple variable that stores the cleaned data. Depending on your system resources and data size, a new variable may or may not be ideal because time-series data, as you will see first-hand in this course, can vary easily take up a lot of memory. To save space, a list, where the element values can change might be better suited to store the initial raw data and the latter replacement preprocessed values.

The `tuple` type has its own built in methods however, we will not discuss them here. Instead, we will introduce the `help` function that can be used on any python object (we will define what an object is later) to provide its documentation including its definition and functions:

In [24]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

The last sequence type we will discuss is `range`. It is used to define a sequence of integers that have a `start`, `stop` (value not included in generated sequence) and `step`. An example is:

In [25]:
valid_thermostat_dry_bulb_temperature_setpoints = range(21, 24, 1)
print(valid_thermostat_dry_bulb_temperature_setpoints)

range(21, 24)

With `list` and `tuple` types, you can have sub lists and tuples as:

In [26]:
buildings_indoor_dry_bulb_temperature_setpoint_schedule = [
    indoor_dry_bulb_temperature_setpoint_schedule, 
    [23, 24, 22, 21, 20 , 25, 25, 26, 27, 29],
    [20, 24, 20, 21, 20 , 21, 23, 29, 28, 28],
]
print(buildings_indoor_dry_bulb_temperature_setpoint_schedule)

[[33, 32, 30, 29, 26, 22, 21, 16], [23, 24, 22, 21, 20, 25, 25, 26, 27, 29], [20, 24, 20, 21, 20, 21, 23, 29, 28, 28]]

We can then retrieve the first sublist as:

In [27]:
print(buildings_indoor_dry_bulb_temperature_setpoint_schedule[0])

[33, 32, 30, 29, 26, 22, 21, 16]

Or the second element of the second sublist as:

In [28]:
buildings_indoor_dry_bulb_temperature_setpoint_schedule[1][1]

24

Without getting into much detail about the `range` type, it is mostly used when designing loops to dictate how long the loop should run or what index to apply to some other sequence during an i'th iteration of a loop. We will discuss loops further in subsequent sections.

### Boolean types

The `bool` type is best used to define variables that are binary in nature for example, if a heat pump is on/off, if an occupant is present/absent, e.t.c. An example of a initialized boolean is shown below:

In [33]:
occupant_is_present = True
lamp_is_turned_on = False
print('Is building occupied?', occupant_is_present, '; Is the lamp turned on?', lamp_is_turned_on)

Is building occupied? True ; Is the lamp turned on? False

### Mapping types

The `dict` data type is used to map `key`-`value` pairs. One can think of it as 'dictionary' where the word is the `key` and the word definition is the `value`. The `key` can be a `str`, `int`, `float`, `bool`, or `tuple`. `value` can be of any type. `dict` keys must be unique however, values can be repeated across different keys. See below for how to define a `dict`:

In [35]:
building_metadata = {
    'name': 'ECJ',
    'year_constructed': 1974,
    'floor_count': 14,
    'gross_square_footage': 240246,
    'primary_space_use': 'Laboratory',
    'cooling_commodity': 'Chilled water',
    'Heating_commodity': 'Steam',
}
print('building metadata:', building_metadata)

building metadata: {'name': 'ECJ', 'year_constructed': 1974, 'floor_count': 14, 'gross_square_footage': 240246, 'primary_space_use': 'Laboratory', 'cooling_commodity': 'Chilled water', 'Heating_commodity': 'Steam'}

The keys and values in a `dict` can be returned as:

In [36]:
print('dict keys:', building_metadata.keys())
print('dict values:', building_metadata.values())

dict keys: dict_keys(['name', 'year_constructed', 'floor_count', 'gross_square_footage', 'primary_space_use', 'cooling_commodity', 'Heating_commodity'])
dict values: dict_values(['ECJ', 1974, 14, 240246, 'Laboratory', 'Chilled water', 'Steam'])

To get the value for a known key in the dictionary:

In [37]:
print('building name:', building_metadata['name'])

building name: ECJ

If we use the above syntax to attempt to retrieve the value for a key that does not exist in the dictionary, we will get a `KeyError`:

In [38]:
print('building latitude:', building_metadata['latitude'])

KeyError: 'latitude'

Alternatively, we can safely return a value for keys that may not be in our dictionary yet with the `get` method:

In [41]:
print('building latitude:', building_metadata.get('latitude'))
print('building latitude:', building_metadata.get('latitude', 'ECJ does not not have a defined latitude'))

building latitude: None
building latitude: ECJ does not not have a defined latitude

To define a new key-value pair in the dictionary, execute:

In [42]:
building_metadata['latitude'] = 30.289
print('building latitude:', building_metadata.get('latitude'))

building latitude: 30.289

The same syntax is used to assign a new value to an existing key:

In [44]:
previous_primary_space_use = building_metadata['primary_space_use']
building_metadata['primary_space_use'] = 'Classroom'
print('building primary space use changed from', previous_primary_space_use, 'to', building_metadata['primary_space_use'])

building primary space use changed from Laboratory to Classroom

We can also define nested dictionary within the main dictionary:

In [43]:
building_metadata['chiller'] = {
    'manufacturer': 'Trane',
    'capacity_tons': 100,
    'seasonal_energy_efficiency_ratio': 13.0
}
print(building_metadata)

{'name': 'ECJ', 'year_constructed': 1974, 'floor_count': 14, 'gross_square_footage': 240246, 'primary_space_use': 'Laboratory', 'cooling_commodity': 'Chilled water', 'Heating_commodity': 'Steam', 'latitude': 30.289, 'chiller': {'manufacture': 'Trane', 'capacity': 100, 'seer': 4.0}}

Can you find out about other `dict` methods using the `help` function, provide their definition and use them in examples?

__`dict` methods__:
- `get`: Return key-value otherwise, return default.
-
-

In [45]:
# *** put your examples where you use dict methods below ***

### Set types

A `set` is used to define unique values and is an unordered, unindexed and unchangeable data type. The syntax used to define a set is:

In [48]:
occupant_first_names = {occupant_first_name, 'Jane', 'Doe', 'Jack', 'Robinson', 'Jack'}
print(occupant_first_names)

{'Jane', "O'Reilly", 'Doe', 'Jack', 'Robinson'}

Notice that although we included the name, 'Jack', twice, it was printed just once. Also, the print order differs from the order at initialization. Sets better suited for quickly inferring about value membership in a list of items and comparisons between separately defined lists of items. For example, if we have two sets of first names for two different buildings and want to find out which occupants have been to both buildings, we can use the `intersection` method:

In [50]:
building_1_occupant_first_names = occupant_first_names
building_2_occupant_first_names = {'Jane', 'Robinson', 'Sally', 'Bill'}
print('Occupants that have visited both building 1 and 2:', building_1_occupant_first_names.intersection(building_2_occupant_first_names))

Occupants that have visited both building 1 and 2: {'Jane', 'Robinson'}

We can also infer about the occupants in one building that have not been to the other using the `difference` method:

In [52]:
print('Occupants that have visited building 1 but not 2:', building_1_occupant_first_names.difference(building_2_occupant_first_names))
print('Occupants that have visited building 2 but not 1:', building_2_occupant_first_names.difference(building_1_occupant_first_names))

Occupants that have visited building 1 but not 2: {'Doe', "O'Reilly", 'Jack'}
Occupants that have visited building 2 but not 1: {'Sally', 'Bill'}

There are other `set` methods. Can you use them in examples?

In [53]:
# *** put your examples where you use set methods below ***

### None types

The `NoneType` is a very powerful and useful type. It can be used as default value during variable initialization, or a default value for certain use cases, such as when we used the `get` method on the `dict` type. For example, it is better to initialize the name of an occupant as `NoneType` rather than an empty string '' when the name is not yet known. This ensures that subsequent operations on the undefined name variable will always let you know that the name has not yet been defined which can be in the form of an error (yes, errors are good! Even better are errors that a descriptive and show up whenever your code does not run the way you assume it should). The syntax for defining a `NoneType` variable is:

In [55]:
room_1_occupant_name = None
print('Occupant name:', room_1_occupant_name)

None

Subsequently, if we try to return the length of the occupant's name, it will let us know that we are yet to assign a non-null value to the name:

In [56]:
print('Occupant name length:', len(room_1_occupant_name))

TypeError: object of type 'NoneType' has no len()

If we had used an empty string, it will return a length of 0 which, might be obvious that a name has not been defined but in complex code bases where you are not printing variables all the time, it can go unnoticed since no error is thrown and causes bigger problems down the pipeline.

This brings us to the end of data types in Python. In the following sections, we will learn how to convert from one data type to an other using a methodology called type castings. We will also spend some more time on reassigning values to a variable and how mutation in data types can be useful or harmful.

### Type casting

Sometimes, one may need to convert a variable from one data type to another. One popular use case is to convert a `list` to a `set` in order to get the unique elements in the `list` or vise versa where we wanted a sorted list of the elements in a set. Another one is to convert a `float` to an `integer` to use as an index or rounding purposes. We may also choose to convert a `bool` to an `int` for cases where only numeric values are allowed e.g. regression modelling. Some examples of type casting are provided below:

In [64]:
print('int', indoor_dry_bulb_temperature, 'casted to str:', str(indoor_dry_bulb_temperature))
print('int', indoor_dry_bulb_temperature, 'casted to float:', float(indoor_dry_bulb_temperature))
print('int', indoor_dry_bulb_temperature, 'casted to bool:', bool(indoor_dry_bulb_temperature))
print('bool', occupant_is_present, 'casted to int:', int(occupant_is_present))
print('bool', lamp_is_turned_on, 'casted to int:', int(lamp_is_turned_on))
print('float', AUSTIN_LATITUDE, 'casted to int:', int(AUSTIN_LATITUDE))
print('list', indoor_dry_bulb_temperature_setpoint_schedule[0:5], 'casted to set:', set(indoor_dry_bulb_temperature_setpoint_schedule[0:5]))
print('set', occupant_first_names, 'casted to list and sorted:', sorted(list(occupant_first_names)))

int 26 casted to str: 26
int 26 casted to float: 26.0
int 26 casted to bool: True
bool True casted to int: 1
bool False casted to int: 0
float 30.2672 casted to int: 30
list [33, 32, 30, 29, 26] casted to set: {32, 33, 26, 29, 30}
set {'Jane', "O'Reilly", 'Doe', 'Jack', 'Robinson'} casted to list and sorted: ['Doe', 'Jack', 'Jane', "O'Reilly", 'Robinson']

### Variable type reassignment

Python is a dynamically typed language meaning once a variable has been initialized to a specific data type, it can be subsequently re-assigned a value of a different data type. This can be a good or bad thing depending on how it is used so one must use this feature with care. See the example below where an `int` variable is reassigned a `str` value:

In [66]:
indoor_relative_humidity = 60.0
print('Relative humidity type before reassignment:', type(indoor_relative_humidity))
indoor_relative_humidity = str(indoor_relative_humidity)
print('Relative humidity type after reassignment:', type(indoor_relative_humidity))

Relative humidity type before reassignment: <class 'int'>
Relative humidity type after reassignment: <class 'str'>

Good practice is to stick to one data-type for each variable however, it may sometimes be useful to reassign new data with new data type to a variable to avoid keeping variables that are only used in the initial stage of processing a dataset or to save space in memory. To make your code self-documenting, you can use type hinting to inform a 3-rd party, or even yourself down the line when you revisit old code, what type a variable is. Of course Python being dynamically typed will not enforce the types you declare for your variables but it can help make your code more legible. An example of such type hinting is provided below:

In [67]:
indoor_relative_humidity: float = None

Above we have initialized the variable with a null value however, using the type hint, we know to expect and store only float data type values when we eventually assign it a value.

### Variable mutation

Mutation refers to the ability to modify a variable after it has been assigned a value. Of the data types we considered, `str`, `int`, `float`, `bool`, `tuple` are immutable while `list`, `set` and `dict` are mutable. For immutable data types, one cannot change the value of the assigned variable after initialization without having to create a new object in memory. We will demonstrate this using the in-built `id` method:

In [83]:
str_variable = 'abc'
print('str id before reassignment:', id(str_variable))
str_variable = 'efg'
print('str id after reassignment:', id(str_variable))

str id before reassignment: 140523615914352
str id after reassignment: 140523735091184

After reassignment, the id for the string variable changed. We also cannot modify a character in the exisitng string even though a string is a sequence of characters at its base level:

In [84]:
str_variable[0] = 'r'

TypeError: 'str' object does not support item assignment

Now let us investigate similarly for `int`, `float` and `bool` types:

In [87]:
int_variable = 2
print('int id before reassignment:', id(int_variable))
int_variable = 5
print('int id after reassignment:', id(int_variable))

float_variable = 2.0
print('float id before reassignment:', id(float_variable))
float_variable = 5.0
print('float id after reassignment:', id(float_variable))

bool_variable = True
print('bool id before reassignment:', id(bool_variable))
bool_variable = False
print('bool id after reassignment:', id(bool_variable))

int id before reassignment: 4319976256
int id after reassignment: 4319976352
float id before reassignment: 140523735086384
float id after reassignment: 140523735086256
bool id before reassignment: 4319574192
bool id after reassignment: 4319574160

More importantly is the fact that is we created a new immutable variable by simply assigning it an existing immutable variable as its value, it will in fact share the same `id` as the assigning variable. However, the moment we try to change the value of the new variable, its `id` will point to a new address in memory:

In [91]:
int_variable_2 = int_variable
print('assigning int id:', id(int_variable))
print('new int id before reassignment:', id(int_variable_2))
int_variable_2 = 34
print('new int id after reassignment:', id(int_variable_2))

assigning int id: 4319976352
new int id before reassignment: 4319976352
new int id after reassignment: 4319977280

We already demonstrated earlier the immutability of `tuple` compared to `list`, thus reassigning the value of a tuple will point the tuple to a new id.

For mutable types, changing its value will not change its `id` but will only change the `id` of the changed element if immutable. Let us demonstrate with a `list` of `int`:

In [99]:
list_variable = [0, 1, 2, 3, 4]
print('list id before reassignment:', id(list_variable))
print('0th element id before reassignment:', id(list_variable[0]))
print('0th element before reassignment:', list_variable[0])
list_variable[0] = 9
print('list id after reassignment:', id(list_variable))
print('0th element id after reassignment:', id(list_variable[0]))
print('0th element after reassignment:', list_variable[0])

list id before reassignment: 140523714906464
0th element id before reassignment: 4319976192
0th element before reassignment: 0
list id after reassignment: 140523714906464
0th element id after reassignment: 4319976480
0th element after reassignment: 9

We see that the list itself did not change address after the 0th element's value changed however, changing the value at the 0th index changed the address of the 0th element.

Now what happens if we create a new list by simply assigning our existing list to a new variable:

In [100]:
list_variable_2 = list_variable
print('assigning list id:', id(list_variable))
print('new list id before reassignment:', id(list_variable_2))

assigning list id: 140523714906464
new list id before reassignment: 140523714906464

Both lists share the same `id`. What happens if we try to change the 0th element in our new list?:

In [101]:
print('assigning list before reassignment:', list_variable)
print('assigning list id before reassignment:', id(list_variable))
print('new list before reassignment:', list_variable_2)
print('new list id before reassignment:', id(list_variable_2))
list_variable_2[0] = 6
print('assigning list after reassignment:', list_variable)
print('assigning list id after reassignment:', id(list_variable))
print('new list after reassignment:', list_variable_2)
print('new list id after reassignment:', id(list_variable_2))

assigning list before reassignment: [9, 1, 2, 3, 4]
assigning list id before reassignment: 140523714906464
new list before reassignment: [9, 1, 2, 3, 4]
new list id before reassignment: 140523714906464
assigning list after reassignment: [6, 1, 2, 3, 4]
assigning list id after reassignment: 140523714906464
new list after reassignment: [6, 1, 2, 3, 4]
new list id after reassignment: 140523714906464

Both lists still share the same `id` and the same elements even though we only changed the value from the second list! This is important to note when creating new variables from mutable types as it can lead to very unexpected behavior down the line where you are changing the data in a variable you never planned to change!

One way to create a new variable from an existing mutable variable is to use copy the latter:

In [103]:
list_variable_3 = list_variable_2.copy()
print('list_variable_2 id:', id(list_variable_2))
print('list_variable_3 id:', id(list_variable_3))

list_variable_2 id: 140523714906464
list_variable_3 id: 140523735328480

The two lists, though having identical elements, point to different addresses.

## Operations on variables

In this section we will look at different operators in Python. operators refer to symbols, keywords or a combination that can be used alongside variables to build expressions for computation. Operators allow you "manipulate data, perform mathematical calculations, compare values, run boolean test, assign values to variables and more" [[ref](https://realpython.com/python-operators-expressions)]. An operator is used on either one or more operands (think variables). An operator that acts on one operand is unary and whose those that act on two operands are binary.

Operators can be grouped into 11 categories:
1. Assignment operator
2. Arithmetic operators and expressions<sup>*</sup>
1. Comparison operators and expressions<sup>*</sup>
2. Boolean operators and expressions<sup>*</sup>
3. Conditional expressions<sup>*</sup>
4. Identity operators and expressions<sup>*</sup>
5. Membership operators and expressions<sup>*</sup>
6. Concatenation and repetition operators and expressions<sup>*</sup>
7. Walrus operator and assignment expressions
8. Bitwise operators and expressions
9. Augmented assignment operators and expressions<sup>*</sup>

We will not go into much detail on each category and will only address the ones with a asterisk superscript.

### Arithmetic operators and expressions

These operators are the typical ones used for math expressions and the include following [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Operation</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>+</code></td>
            <td>Unary</td>
            <td>Positive</td>
            <td><code>+</code>a</td>
            <td>a without any transformation since this is simply a complement to negation</td>
        </tr>
        <tr>
            <td><code>+</code></td>
            <td>Binary</td>
            <td>Addition</td>
            <td>a <code>+</code> b</td>
            <td>Arithmetic sum of a and b</td>
        </tr>
        <tr>
            <td><code>-</code></td>
            <td>Unary</td>
            <td>Negation</td>
            <td><code>-</code>a</td>
            <td>The value of a but with the opposite sign</td>
        </tr>
        <tr>
            <td><code>-</code></td>
            <td>Binary</td>
            <td>Subtraction</td>
            <td>a <code>-</code> b</td>
            <td>b subtracted from a</td>
        </tr>
        <tr>
            <td><code>*</code></td>
            <td>Binary</td>
            <td>Multiplication</td>
            <td>a <code>*</code> b</td>
            <td>Product of a and b</td>
        </tr>
        <tr>
            <td><code>/</code></td>
            <td>Binary</td>
            <td>Division</td>
            <td>a <code>/</code> b</td>
            <td>Quotient of a and b</td>
        </tr>
        <tr>
            <td><code>%</code></td>
            <td>Binary</td>
            <td>Modulo</td>
            <td>a <code>%</code> b</td>
            <td>Remainder of a / b</td>
        </tr>
        <tr>
            <td><code>//</code></td>
            <td>Binary</td>
            <td>Floor division or integer division</td>
            <td>a <code>//</code> b</td>
            <td>The quotient of a divided by b rounded to the next smallest whole number</td>
        </tr>
        <tr>
            <td><code>**</code></td>
            <td>Binary</td>
            <td>Exponentiation</td>
            <td>a<code>**</code>b</td>
            <td>a raised to the power of b</td>
        </tr>
    </tbody>
</table>

Below are some example uses of these operators:

In [109]:
a = 10
b = 3
print('+a =', +a)
print('a + b =', a + b)
print('-a =', -a)
print('a - b =', a - b)
print('a * b =', a * b)
print('a / b =', a / b)
print('a % b =', a % b)
print('a // b =', a // b)
print('a**b =', a**b)

+a = 10
a + b = 13
-a = -10
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a % b = 1
a // b = 3
a**b = 1000

### Comparison operators and expressions

The comparison operators include [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Operation</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>==</code></td>
            <td>Binary</td>
            <td>Equal to</td>
            <td>a <code>==</code> b</td>
            <td>True if the value of a is equal to the value of b otherwise, false</td>
        </tr>
        <tr>
            <td><code>!=</code></td>
            <td>Binary</td>
            <td>Not equal to</td>
            <td>a <code>!=</code> b</td>
            <td>True if a is not equal to b otherwise false</td>
        </tr>
        <tr>
            <td><code><</code></td>
            <td>Binary</td>
            <td>Less than</td>
            <td>a <code><</code> b</td>
            <td>True if a is less than b otherwise, false</td>
        </tr>
        <tr>
            <td><code><=</code></td>
            <td>Binary</td>
            <td>Less than or equal to</td>
            <td>a <code><=</code> b</td>
            <td>True if a is less than or equal to b otherwise, false</td>
        </tr>
        <tr>
            <td><code>></code></td>
            <td>Binary</td>
            <td>Greater than</td>
            <td>a <code>></code> b</td>
            <td>True if a is greater than b otherwise, false</td>
        </tr>
        <tr>
            <td><code>>=</code></td>
            <td>Binary</td>
            <td>Greater than or equal to</td>
            <td>a <code>>=</code> b</td>
            <td>True if a is greater than or equal to b otherwise, false</td>
        </tr>
    </tbody>
</table>

Below are some examples using the comparison operators:

In [110]:
print('a == b =', a == b)
print('a != b =', a != b)
print('a < b =', a < b)
print('a <= b =', a <= b)
print('a > b =', a > b)
print('a >= b =', a >= b)

a == b = False
a != b = True
a < b = False
a <= b = False
a > b = True
a >= b = True

You can also use the comparison operators on strings. Python uses a character's unicode code point to compare string such that characters with lower point have a smaller numerical value. To get the unicode value for a string, use the `ord` function:

In [116]:
a = 'j'
b = 'd'
print('a =', a)
print('b =', b)

if len(a) == 1:
    print('Unicode code point for', a, '=', ord(a))
else:
    pass

if len(b) == 1:
    print('Unicode code point for', b, '=', ord(b))
else:
    pass

print('a == b =', a == b)
print('a != b =', a != b)
print('a < b =', a < b)
print('a <= b =', a <= b)
print('a > b =', a > b)
print('a >= b =', a >= b)

a = j
b = d
Unicode code point for j = 106
Unicode code point for d = 100
a == b = False
a != b = True
a < b = False
a <= b = False
a > b = True
a >= b = True

Note that the `ord` function will only work for one-character strings. For strings with more than one character, Python checks the unicode code point for any two characters at the same index in the two strings and once it finds a case where two characters have different points, it uses it to sort the strings.

Comparison operators also work on sequence types where the same approach of element pair comparisons is carried out:

In [117]:
a = [1, 2, 3]
b = [2, 3, 4]
print('a =', a)
print('b =', b)
print('a == b =', a == b)
print('a != b =', a != b)
print('a < b =', a < b)
print('a <= b =', a <= b)
print('a > b =', a > b)
print('a >= b =', a >= b)

a = [1, 2, 3]
b = [2, 3, 4]
a == b = False
a != b = True
a < b = True
a <= b = True
a > b = False
a >= b = False

### Boolean operators and expressions

The boolean operators include [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>and</code></td>
            <td>Binary</td>
            <td>x <code>and</code> y</td>
            <td>True if both x and y are true otherwise, false</td>
        </tr>
        <tr>
            <td><code>or</td>
            <td>Binary</td>
            <td>x <code>or</code> y</td>
            <td>True if either x or y is true, otherwise false</td>
        </tr>
        <tr>
            <td><code>not</td>
            <td>Unary</td>
            <td><code>not</code> x</td>
            <td>True if x is false otherwise, true</td>
        </tr>
    </tbody>
</table>

Below are some examples using the boolean operators:

In [118]:
a = 4
b = 10
x = a < b
y = a == b
print('a =', a)
print('b =', b)
print('x =', x)
print('y =', y)
print('x and y =', x and y)
print('x or y =', x or y)
print('not x =', not y)
print('not y =', not x)

a = 4
b = 10
x = True
y = False
x and y = False
x or y = True
not x = True
not y = False

### Conditional expressions

Conditional expressions are best used to assign a value to a variable based on the truth value of some some other sub expressions. It makes use if the `if`-`else` keywords. An example is:

In [120]:
default_dry_bulb_temperature_setpoint = 23.4
initial_dry_bulb_temperature_setpoint = 30.0
dry_bulb_temperature_setpoint = default_dry_bulb_temperature_setpoint if initial_dry_bulb_temperature_setpoint > 25.0 else initial_dry_bulb_temperature_setpoint
print('dry_bulb_temperature_setpoint =', dry_bulb_temperature_setpoint)

dry_bulb_temperature_setpoint = 23.4

### Identity operators and expressions

The identity operators include [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>is</code></td>
            <td>Binary</td>
            <td>x <code>is</code> y</td>
            <td>True if x and y hold a reference to the same in-memory object otherwise, false</td>
        </tr>
        <tr>
            <td><code>is not</code></td>
            <td>Binary</td>
            <td>x <code>is not</code> y</td>
            <td>True if x and u point to different in-memory objects otherwise,false</td>
        </tr>
    </tbody>
</table>

Below are some examples using the identity operators:

In [122]:
a = 0
b = 9
c = b
print('a =', a)
print('b =', b)
print('c =', c)
print('a id:', id(a))
print('b id:', id(b))
print('c id:', id(c))
print('a is b =', a is b)
print('a is c =', a is c)
print('b is c =', b is c)
print('a is not b =', a is not b)
print('a is not c =', a is not c)
print('b is not c =', b is not c)

a = 0
b = 9
c = 9
a id: 4319976192
b id: 4319976480
c id: 4319976480
a is b = False
a is c = False
b is c = True
a is not b = True
a is not c = True
b is not c = False

### Membership operators and expressions

The membership operators include [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>in</code></td>
            <td>Binary</td>
            <td>value <code>in</code> collection</td>
            <td>True if value is an element in collection otherwise, false</td>
        </tr>
        <tr>
            <td><code>not in</code></td>
            <td>Binary</td>
            <td>value <code>not in</code> collection</td>
            <td>True if value is not an element in collection otherwise, false</td>
        </tr>
    </tbody>
</table>

Below are some examples using the membership operators:

In [124]:
v = 4
collection_1 = [1, 2, 3, 4]
collection_2 = [5, 6, 6, 7]
print('value =', v)
print('collection_1 =', collection_1)
print('collection_2 =', collection_2)
print('value in collection_1 =', v in collection_1)
print('value not in collection_2 =', v not in collection_2)

value = 4
collection_1 = [1, 2, 3, 4]
collection_2 = [5, 6, 6, 7]
value in collection_1 = True
value not in collection_2 = True

### Concatenation and repetition operation

The concatenation and repetition operators include [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Operation</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>+</code></td>
            <td>Binary</td>
            <td>Concatenation</td>
            <td>sequence_1 <code>+</code> sequence_2</td>
            <td>A new sequence containing all the items from both sequences</td>
        </tr>
        <tr>
            <td><code>*</code></td>
            <td>Binary</td>
            <td>Repetition</td>
            <td>sequence <code>*</code> n</td>
            <td>A new sequence containing the items of sequence repeated n times</td>
        </tr>
    </tbody>
</table>

Below are some examples using the concatenation and repetition operators:

In [127]:
sequence_1 = [1, 2, 3, 4]
sequence_2 = [5, 6, 7, 8]
n = 2
print('sequence_1 =', sequence_1)
print('sequence_2 =', sequence_2)
print('n =', n)
print('sequence_1 + sequence_2 =', sequence_1 + sequence_2)
print('sequence_1 * n =', sequence_1 * n)

sequence_1 = [1, 2, 3, 4]
sequence_2 = [5, 6, 7, 8]
n = 2
sequence_1 + sequence_2 = [1, 2, 3, 4, 5, 6, 7, 8]
sequence_1 * n = [1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
print(id(sequence_1), id)

### Augmented assignment operators and expressions

The concatenation and repetition operators include [[ref](https://realpython.com/python-operators-expressions)]:

<table>
    <thead>
        <tr>
            <th>Operator</th>
            <th>Type</th>
            <th>Example</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>+=</code></td>
            <td>Binary</td>
            <td>a <code>+=</code> b</td>
            <td>a <code>=</code> x <code>+</code> y</td>
        </tr>
        <tr>
            <td><code>-=</code></td>
            <td>Binary</td>
            <td>a <code>-=</code> b</td>
            <td>a <code>=</code> x <code>-</code> y</td>
        </tr>
        <tr>
            <td><code>*=</code></td>
            <td>Binary</td>
            <td>a <code>*=</code> b</td>
            <td>a <code>=</code> x <code>*+*</code> y</td>
        </tr>
        <tr>
            <td><code>/=</code></td>
            <td>Binary</td>
            <td>a <code>/=</code> b</td>
            <td>a <code>=</code> x <code>/</code> y</td>
        </tr>
        <tr>
            <td><code>//=</code></td>
            <td>Binary</td>
            <td>a <code>//=</code> b</td>
            <td>a <code>=</code> x <code>//</code> y</td>
        </tr>
        <tr>
            <td><code>%=</code></td>
            <td>Binary</td>
            <td>a <code>%=</code> b</td>
            <td>a <code>=</code> x <code>%</code> y</td>
        </tr>
        <tr>
            <td><code>**=</code></td>
            <td>Binary</td>
            <td>a <code>**=</code> b</td>
            <td>a <code>=</code> x <code>**</code> y</td>
        </tr>
        <tr>
            <td><code>+=</code></td>
            <td>Binary</td>
            <td>sequence_1 <code>+=</code> sequence_2</td>
            <td>sequence_1 <code>=</code> sequence_1 <code>+</code> sequence_2</td>
        </tr>
        <tr>
            <td><code>*=</code></td>
            <td>Binary</td>
            <td>sequence <code>*=</code> n</td>
            <td>sequence <code>=</code> sequence <code>*</code> n</td>
        </tr>
    </tbody>
</table>

Can you write some expressions that use the augmented assignment operators below?:

In [128]:
# *** write code that uses augmented assignment operators below ***

## Conditional statements

This section introduces the syntax for conditional statements on Python. Conditional statements help control the sequence of execution in a code block. The are also used to define rules that drive code execution. The keywords associated with conditional statements are `if`, `else`, `elif` and, `pass`. The general syntax for a conditional statement is:

```
if <expression_1>:
    <statement_1>
elif <expression_n-1>:
    <statement_n-1>
else:
    <statement_n>
```

Conditional statements always start with the <if> clause and may optionally contain one or more <elif> clauses. The <else> clause is also optional however, it is good practice to always end an <if> clause with an <else> even though there is no statement for the <else> clause. It helps with code legibility and self-documentation. When an <else> clause has no statement, we use the <pass> keyword as a placeholder. As the name implies, it just allows the code execution to pass through without any action. The first statement whose expression has a true value will be executed while all other statements will not be executed. If none of the <if> nor <elif> expressions is true then the default statement defined in the  <else> clause is executed.

Also, notice the indentation when declaring the statements under their relevant expression. Python is indentation-sensitive!

See below an example of a conditional statement:

In [129]:
hour_of_day = 8
day_of_week = 'Monday'
bedroom_heat_pump_setpoint = None

if hour_of_day <= 6 or hour_of_day >= 21:
    bedroom_heat_pump_setpoint = 23
    print('setpoint:', bedroom_heat_pump_setpoint)

elif hour_of_day <= 8:
    bedroom_heat_pump_setpoint = 24
    print('setpoint:', bedroom_heat_pump_setpoint)

else:
    if day_of_week in ['Saturday', 'Sunday']:
        bedroom_heat_pump_setpoint = 22
        print('setpoint:', bedroom_heat_pump_setpoint)

    else:
        bedroom_heat_pump_setpoint = 26
        print('setpoint:', bedroom_heat_pump_setpoint)

setpoint: 24

We have set up a conditional statement that sets a heat pump's setpoint based on hour of day and day of week. Our <else> clause is a sub conditional statement.

See the example below where we use the <pass> keyword:

In [130]:
setpoint_lower_bound = 20
setpoint_upper_bound = 27
setpoint = 22

if not (setpoint_lower_bound <= setpoint <= setpoint_upper_bound):
    print('Setpoint out of bound!')

else:
    pass

The above statement enters into the <else> clause because the setpoint is not out of its bounds but prints nothing because of the <pass> keyword.

## Loops

Loops are very useful for iterative

- for loop
- while loop
- use of range
- looping through dict
- looping through iterable/list
- looping through srtring
- use of enumerate
- use of zip
- break, continue
- condtional statments in loops

## Functions

- variable scope
- type hinting and return type
- docstring
- when you do not want to repeat yourself use a function
- lambda functions
- by default, all functions return NoneType
- careful about mutation in functions, better to pass a copy if you plan to modify the object
- there are 4 types of methods that we will learn about in OOP

## Basic file input and output

isintance()

## Further reading and references

1. https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/video_galleries/lecture-videos/
2. https://en.wikipedia.org/wiki/Zen_of_Python
3. https://peps.python.org/pep-0008/
4. https://realpython.com/python-mutable-vs-immutable-types/
5. https://realpython.com/python-operators-expressions/